.event-page-container{
  display: flex;
  height: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.event-page-container h1{
  font-size: 40px;
}

#event-index-container {
  /* border: 1px solid blue; */
  width: 90%;
  display: flex;
  margin: 15px;
  justify-content: center;
}

#event-list {
  padding: 20px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#index-self-section {
  margin: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#event-self-index-container {
  width: 90%;
  display: flex;
  margin: 15px;
  justify-content: center;
  background-color: white;
}


.show-shadow{
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: inset 0 -70px 70px -70px gray;
  border-radius: 6px;
}

#self-event-list {
  height: 490px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  padding-bottom: 80px;
  border-bottom: 4px #eeeeee solid;
}

.spacer{
  height: 40px;
}

.event-index-item {
  position: relative;
  height: auto;
  padding: 10px;
  margin: 3%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 11px 12px, rgba(0, 0, 0, 0.12) 0px -3px 8px, rgba(0, 0, 0, 0.12) 0px 2px 3px, rgba(0, 0, 0, 0.17) 0px 6px 6.6px, rgba(0, 0, 0, 0.09) 0px -1px 2px;
  transition: box-shadow .2s ease-in-out;
  cursor: pointer;
}

.event-index-item *{
  cursor: pointer;
}

.index-item-name {
  cursor: pointer;
}

.link, .link *:hover{
  cursor: inherit;
  cursor: pointer;
}

.event-index-item:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 24px 25px, rgba(0, 0, 0, 0.12) 0px -6px 15px, rgba(0, 0, 0, 0.12) 0px 4px 5px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.index-map-container {
  height: 300px;
  width: 100%;
  position: relative;
  z-index: 0;
}

.index-show-link {
  display: block;
  margin: 0 auto;
  text-align: center;
  transition: color .2s ease-out;
}

.index-show-link:hover{
  color: #df7116;
}

.index-item-name, .index-item-description,
.index-item-date, .index-item-time {
  text-align: center;
}

.sb{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.index-item-name {
  padding-top: 10px;
  font-size: 24px;
  padding-bottom: 10px;
}

.index-item-description {
  font-size: 14px;
  padding-bottom: 10px;
}

.index-item-date {
  font-size: 16px;
  padding-bottom: 5px;
}

.index-item-time {
  font-size: 14px;
  padding-bottom: 5px;
}

#index-self-top {
  width: 90%;
  background-color: white;
  display: grid;
  grid-template-columns: 160px auto;
  padding-bottom: 10px;
  /* padding: 10px; */
}

#index-self-title {
  justify-self: start;
  align-self: center;
  font-size: 26px;
  width: auto;
}

#index-self-create {
  font-size: 16px;
  background-color: #eeeeee;
  color: black;
  border-style: none;
  padding: 10px;
  justify-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  transition: background-color .2s ease-out, color .2s ease-out;
  cursor: pointer;
}

#index-self-create:hover, #index-self-profile:hover {
  background-color: #df7116;
  color: #eeeeee;
}

#index-self-profile {
  border-style: none;
  font-size: 16px;
  padding: 10px;
  padding-left: 13px;
  padding-right: 13px;
  margin-right: 20px;
  border-radius: 30px;
  cursor: pointer;
  color: black;
  background-color: #eeeeee;
  transition: background-color .2s ease-out, color .2s ease-out;
}

#index-self-button-container {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
}

#event-public-title {
  width: 80%;
  /* padding-left: 10%; */
  font-size: 26px;
  padding-top: 10px;
}