.event-page-container{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.event-page-container h1{
  font-size: 40px;
}

.event-index-container{
  border: 1px solid blue;
  width: 90%;
  display: flex;
  margin: 15px;
  justify-content: center;
}

.event-list{
  margin: 15px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.event-index-item{
  height: auto;
  padding: 10px;
  border: 1px solid red;
  margin: 3%;
}

.index-map-container {
  height: 300px;
  width: 100%;
}

a {
  /* color: black;  */
  transition: color .2s ease-out;
}

a:hover{
  color: orange;
}

.index-item-name {
  padding-top: 10px;
  font-size: 24px;
  padding-bottom: 10px;
}

.index-item-description {
  font-size: 14px;
  padding-bottom: 10px;
}

.index-item-date {
  font-size: 16px;
  padding-bottom: 5px;
}

.index-item-time {
  font-size: 14px;
  padding-bottom: 5px;
}
