.event-show-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  /* border: 1px solid blue; */
}

.event-show-body{
  display: flex;
  width: 80%;
  height: 600px;

  justify-content: center;
  align-items: flex-start;
  /* border: 1px solid red; */
  margin: 15px;
  margin-bottom: 80px;
  padding: 4px;
  background-color: white;
  border-radius: 4px;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
}

.event-show-details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
  margin-left: 8px;
  max-height: 650px;
  width: 100%;
  /* overflow-y: scroll; */
}

#blur-background{
  position: absolute;
  content: url("https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F223899609%2F37045133340%2F1%2Foriginal.20220204-051702?w=50&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C0%2C2400%2C1200&s=9b88fffdc9ef07d993f6709e4a3ea69c");
  filter: blur(50px) brightness(.9);
  height: 50%;
  width: 400%;
  top: 0%;
  left: -50%;
  z-index: -4;
}


.event-show-content{
  margin-right: 10px;
  width: 50%;
  height: 500px;
  /* border: 1px solid gray; */
  display: flex;
  justify-content: center;
}




.event-show-title{
  padding-top: 10px;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 20px;
}

.event-show-description {
  font-size: 18px;
  padding-bottom: 10px;
}

.description{
  padding-bottom: 24px;
}
.details{
  padding-bottom: 6px;
  font-size: 18px;
}

.map-control {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
  font-family: "Roboto", "sans-serif";
  margin: 10px;
  display: none;
}

#map-container .map-control {
  display: block;
}

.selector-control {
  font-size: 14px;
  line-height: 35px;
}


/* Hide terms of use  */
.gmnoprint a, .gmnoprint span {
  display:none;
}
/* .gmnoprint div {
  background:none !important;
} */

.date-time-container{
  margin-bottom: 15px;
}

.attendee-list{
  width: 30%;
  height: 70%;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.attendee-list-container{
  margin: 15px;
}



.comment-container .circle{
  background: rgba(176, 174, 174, 0.482);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
}

.comment-profile{
  display: flex;
  align-items: center;
}

.comment-container{
  margin: 4px;
  margin-top: 0;
}

.comment-title-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.comment-username{
  color: #314758;
  font-style: italic;
  font-size: 14px;
  font-weight: 700;
}

.time-ago{
  font-size: 12px;
  display: flex;
  align-items: flex-start;
  height: auto;
}

.comment-header{
  display: flex;
}

.show-map-wrapper {
  min-height: 500px;
  width: 100%;
  height: 100%;
}

.show-map-container {
  width: 100%;
  min-height: 500px;
  height: 100%;
}

.event-date {
  padding-top: 5px;
  padding-bottom: 5px;
}

.show-links-wrapper{
  width: 100%;
  display: flex;
  /* padding-left: 20px; */
  padding-top: 20px;
  justify-content: center;
}

.show-links{
  display: flex;
  align-items: center;
}

.event-show-body, .event-show-content,
.event-show-details, .event-date, .event-time {
  /* text-align: center; */
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.attendee-list-title {
  font-size: 26px;
}

.interaction-container{
  display: flex;
  width: 80%;
  margin: 15px;
}
.event-date {
  padding-top: 5px;
  padding-bottom: 5px;
}

.join-button{
  cursor: pointer;
  color: #537895;
}


.event-show-back-link{
  color: #537895;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.attendee-list-name {
  font-style: italic;
  text-align: left;
}

.thread-name-error {
  color: red;
}