.event-show-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  border: 1px solid blue;
}

.event-show-body{
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  margin: 15px;
  padding: 15px;
}

.event-show-content{
  margin-right: 30px;
  width: 50%;
  height: 500px;
  border: 1px solid orange;
}

.event-show-container h2{
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 6px;
}

.event-show-container h3{
  font-size: 18px;
  padding-bottom: 6px;
}

.map-control {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
  font-family: "Roboto", "sans-serif";
  margin: 10px;
  display: none;
}

#map-container .map-control {
  display: block;
}

.selector-control {
  font-size: 14px;
  line-height: 35px;
}


/* Hide terms of use  */
.gmnoprint a, .gmnoprint span {
  display:none;
}
/* .gmnoprint div {
  background:none !important;
} */

.date-time-container{
  margin-bottom: 15px;
}

.attendee-list{
  border: 1px solid green;
  margin-bottom: 15px;
}

.thread-index{
  width: 80%;
  border: 1px solid purple;
}

.thread-list-container{
  width: 90%;
  border: 1px solid red;
  margin: 15px;
}

.thread-index-item{
  border: 1px solid yellowgreen;
}

.comment-username{
  color: #314758;
  font-style: italic;
  font-weight: 700;
}

.show-map-wrapper {
  min-height: 500px;
  width: 100%;
  height: 100%;
}

.show-map-container {
  width: 100%;
  min-height: 500px;
  height: 100%;
}

.event-date {
  padding-top: 5px;
  padding-bottom: 5px;
}