.profile-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid blue;
}

.profile-content{
  padding: 15px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-self-section {
  width: 90%;
}

#profile-self-event-list {
  height: 500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow-y: scroll;
}

#profile-self-top {
  width: 50%;
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

#profile-self-title {
  padding-right: 20px;
  font-size: 22px;
}

#profile-self-create {
  background-color: #eeeeee;
  color: black;
  border-style: none;
  padding: 15px;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color .2s ease-out, color .2s ease-out;
}

#profile-self-create:hover {
  background-color: #df7116;
  color: #eeeeee;
}