.profile-container{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-content{
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

#profile-greeting {
  padding-bottom: 20px;
  font-size: 20px;
}

#profile-link {
  transition: color .2s ease-in-out;
}

#profile-link:hover {
  color: #df7116 
}

#profile-self-section {
  width: 90%;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 21px 22px, rgba(0, 0, 0, 0.12) 0px -6px 15px, rgba(0, 0, 0, 0.12) 0px 2px 3px, rgba(0, 0, 0, 0.17) 0px 6px 6.6px, rgba(0, 0, 0, 0.09) 0px -1px 2px; */
}

#profile-self-event-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
  border-bottom: 4px #eeeeee solid;
}

#profile-self-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
}

#profile-self-title {
  padding-right: 20px;
  font-size: 22px;
}

#profile-self-create {
  background-color: #eeeeee;
  color: black;
  border-style: none;
  padding: 15px;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color .2s ease-out, color .2s ease-out;
}

#profile-self-create:hover {
  background-color: #df7116;
  color: #eeeeee;
}

.profile-item{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-item-description{
  display: -webkit-box;
  -webkit-line-clamp: 4;
  height: 3.34em;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#profile-header-bar {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding-bottom: 20px;
  border-bottom: 4px #eeeeee solid;
}

#profile-header-greeting {
  font-size: 32px;
}

#profile-header-right {
  display: flex;
  padding-right: calc(5% + 10px);
}

#profile-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding-right: 20px;
  text-align: center;
  font-style: italic;
}

#profile-username {
  font-size: 16px;
  padding-left: 5px;
}

#profile-self-inbox {
  border-style: none;
  padding: 10px;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 30px;
  cursor: pointer;
  background-color: #eeeeee;
  color: black;
  transition: background-color .2s ease-out, color .2s ease-out;
}

#profile-self-inbox > * {
  padding-left: 10px;
}

#profile-self-inbox:hover {
  background-color: #df7116;
  color: #eeeeee;
}