.poi-list-container{
  margin-bottom: 12px;
  max-height: 380px;
  overflow-y: auto;
  width: 100%;
}

.poi-container{
  margin: 12px;
  padding: 4px;
  border-radius: 2px;
  width: 95%;
}
.poi-container p{
  font-size: 15px;
}

.poi-container h4{
  margin-bottom: 2px;
}

.event-time{
  text-decoration: underline;
  font-size: 14px;
  color: rgb(56, 56, 56);
  margin-bottom: 4px;
  font-style: italic;
}

.poi-container:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 10px, rgba(0, 0, 0, 0.12) 0px -3px 7px, rgba(0, 0, 0, 0.12) 0px 2px 3px, rgba(0, 0, 0, 0.17) 0px 6px 6.6px, rgba(0, 0, 0, 0.09) 0px -1px 2px;
  transition: box-shadow .2s ease-in-out;
}

.poi-container{
  width: 80%;
}
