.poi-list-container{
  margin-top: 12px;
  margin-bottom: 12px;
  max-height: 300px;
  overflow-y: scroll;
}

.poi-container{
  margin-bottom: 8px;
}

.poi-container h4{
  margin-bottom: 2px;
}

.event-time{
  text-decoration: underline;
  font-size: 14px;
  color: rgb(56, 56, 56);
  margin-bottom: 6px;
  font-style: italic;
}
