.thread-title-container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.confirmation-message {
  padding-left: 12px;
  color: red;
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
}

.margin-left {
  margin-left: 12px;
}

.add-thread-button {
  cursor: pointer;
  font-size: 20px;
  padding-left: 12px;
  padding-top: 2px;
  transition: color .2s ease-out;
}

.add-thread-button i:hover {
  color: #df7116;
}

.thread-index {
  width: 80%;
  max-width: 800px;
  min-height: 400px;
  background-color: white;
  margin: 15px;
  margin-bottom: 60px;
}

.thread-index-title {
  font-size: 26px;
}

.thread-form-container {
  padding-left: 4px;  
  transition: height 0.4s ease-out, opacity 0.1s ease-out;
  height: 0;
  opacity: 0;
  padding-bottom: 24px;
}

.visible {
  height: 40px;
  opacity: 1;
}

.thread-title:after {
  content: "\f107";
  font: normal normal normal 14px/1 FontAwesome;
  text-align: center;
  vertical-align: middle;
}

.collapsed:after {
  content: "\f106";
}

.thread-list-container {
  width: 95%;
  margin: 15px;
}

.thread-index-item {
  margin: 10px;
  margin-bottom: 20px;
}

.comment-index {
  max-height: 4000px;
  transition: max-height 0.45s ease-in;
}

.hidden {
  max-height: 0;
  transition: max-height 0.45s ease-out;
  overflow: hidden;
}

.comment-tools {
  display: flex;
  align-items: center;
  height: 100%;
}


.comment-body {
  font-size: 14px;
  margin-left: 5px;
  width: 100%;
  word-wrap: normal;
  padding-top: 6px;
}

.comment-body-p {
  width: 100%;
  word-wrap: break-word;
}

.comment-header {
  display: flex;
}

.comment-input {
  width: inherit;
  width: 100%; 
  max-width: 100%;
  resize: none;
  border-radius: 6px;
  height: 1.5em;
  display: block;
}

.comment-submit {
  visibility: hidden;
  display: none;
}

.auto {
  display: block;
}

.delete-comment i {
  min-width: 10px;
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
  font-weight: 700;
}

.del-comment-button:hover i {
  color: rgb(231, 150, 0);
}

.del-comment-button {
  cursor: pointer;
  transition: color .2s ease-out;
	color: #383a34;
  padding-left: 2px;
}

.comment-box {
  padding-top: 6px;
  border-bottom: 1px solid #ccc;
  transition: background-color .1s ease-in-out;
}

.comment-box:hover {
  background-color: #e8e8e8;
}

.comment-form {
  height: 80%;
  width: 99%;
}

.thread-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
}

.thread-title {
  font-size: 20px;
  margin-bottom: 6px;
}

.no-comment-message {
  margin-left: 12px;
}

.rsvp {
  text-decoration: underline;
  color: #537895;
  cursor: pointer;
}